//
   Created by Work on 08.04.2015.
.popup
    a(href="#close").popup-close
        img(src="img/black_close.png")
    h1 Да Нет
    ul
        li
            h2 Вам понравилось наше предложение?
            input(type="radio" name="firstrb")
            input(type="radio" name="firstrb")
        li
            h2 Планируете ли Вы им воспользоваться?
            input(type="radio" name="secrb")
            input(type="radio" name="secrb")
    button ОК