.city_select_popup
    .city_wrapper
        .selector
            ul
                li
                    | Москва
                    .right_block
                        span.line |
                        img(src="img/select_arrow.png").arrow

                li Санкт-Петербург
                li Казань
        .city_name
            h1 Ваш город -&nbsp;
                span Москва
                | ?
        .actions
            button.yes Да
            button.no Heт
