//
   Created by Work on 08.04.2015.
.popup
    a(href="#close").popup-close
        img(src="img/black_close.png")
    form
        table
            tr
                td
                td.center
                    h1 Да
                td.center
                    h1 Нет
            tr
                td
                    h2
                        span.dot
                        | Вам понравилось наше предложение?
                td.center
                    input#radio11(type="radio", name="isgoodtype", value="true", checked="checked")
                    label(for="radio11")
                td.center
                    input#radio12(type="radio", name="isgoodtype", value="false")
                    label(for="radio12")
            tr
                td
                    h2
                        span.dot
                        | Планируете ли Вы им воспользоваться?
                td.center
                    input#radio21(type="radio", name="doyouwant", value="true", checked="checked")
                    label(for="radio21")
                td.center
                    input#radio22(type="radio", name="doyouwant", value="false")
                    label(for="radio22")
            tr
                td(colspan=3).center
                    input(type="submit", value="OK").ok
    button(type="submit" ).reason Если Вас не заинтересовало наше
        <br> предложение укажите пожалуйста причину

.reasonpopup
    a(href="#close").popup-close
        img(src="img/black_close.png")
    form
        table
            tr
                td.list
                    h2
                        span.dot
                        | Высокие цены на шины
                td.center
                    input#radio31(type="radio", name="reason", value="false")
                    label(for="radio31")
            tr
                td.list
                    h2
                        span.dot
                        | Высокие цены на шиномонтаж
                td.center
                    input#radio32(type="radio", name="reason", value="false")
                    label(for="radio32")
            tr
                td.list
                    h2
                        span.dot
                        | Нет подходящей модели / типоразмера
                td.center
                    input#radio33(type="radio", name="reason", value="false")
                    label(for="radio33")

            tr
                td.list
                    h2
                        span.dot
                        | Не смог записаться на шиномонтаж
                td.center
                    input#radio34(type="radio", name="reason", value="false")
                    label(for="radio34")

            tr
                td.list
                    h2
                        span.dot
                        | Не хочу хранить шины в шинном центре
                td.center
                    input#radio35(type="radio", name="reason", value="false")
                    label(for="radio35")

            tr
                td.list
                    h2
                        span.dot
                        | Не могу дозвониться до шинного центра
                td.center
                    input#radio36(type="radio", name="reason", value="false")
                    label(for="radio36")
            tr
                td.list
                    h2
                        span.dot
                        | Не удобно расположены шинные центры
                td.center
                    input#radio37(type="radio", name="reason", value="false")
                    label(for="radio37")
            tr
                td.list
                    h2
                        span.dot
                        | Шины моего типоразмера не участвуют в акции
                td.center
                    input#radio38(type="radio", name="reason", value="false")
                    label(for="radio38")
            tr
                td.list.longtd
                    h2.long
                        span.dot
                        | Уже купил летние шины / не планирую покупать
                        | новые в этом сезоне
                    div.orangediv
                td.center
                    input#radio39(type="radio", name="reason", value="false")
                    label.last(for="radio39")
            tr
                td(colspan=3).center
                    input(type="submit", value="OK").ok


