H1 Безопастность - наш приоритет
    H1 Хранение - наш подарок
    ol
        li
            span.orange.number.numone 1
            span.text
                | При покупке комплекта шин
                br/
                span.orange Continental&nbsp;
                | 17 диаметра и выше,
                br/
                | с услугой шиномонтажа.
            img(src="img/tire.png")
        li
            span.orange.number.numtwo 2
            span.text
                | Сезонное хранение в подарок
                span.orange &nbsp;*&nbsp;
            img(src="img/present.png")
    .note
        span.orange *
        | Срок проведения акции: с 15 марта по 17 мая 2015г.
        br
        | Детали акциии и дополнительную информацию можно
        br
        | найти в разделе Правила.
    a(href="#map").buy_button Где купить