H1 Безопастность - наш приоритет
    H1 Хранение - на подарок
    ol
        li
            span.orange.number 1
            img(src="img/tire.png")
            span.text
                | При покупке комплекта шин
                br/
                span.orange Continental&nbsp;
                | 17 диаметра и выше
        li
            span.orange.number 2
            img(src="img/present.png")
            span.text
                | Сезонное хранение в подарок
                span.orange &nbsp;*&nbsp;
    .note
        span.orange *
        | Срок проведения акции: с 15 марта по 17 мая 2015г. Количество подарков ограничено.
        br
        | Детали акции, полный список моделей шин, участвующих в акции,
        | и дополнительную информацию можно найти на сайте:&nbsp;
        a.orange(href="http://www.contipromo.ru" target="_blank") www.contipromo.ru
    a(href="#map").buy_button Где купить