@import '../bower/lesshat/build/lesshat';
@import (inline, css) '../bower/normalize-css/normalize.css';
@import (inline, css) '../bower/slicknav/slicknav.css';

@white: #FFFFFF;
@orange: #FFAD13;
@light_orange: #FF9C00;
@black: #020202;
@transparent_black: rgba(0, 0, 0, .75);

@body_border: 19px;

@header_height: 88px;
@header_whitespace: @body_border;
@logo_img_width: 160px;
@logo_img_height: 97px;
@logo_left_offset: 97px;
@menu_bg: @transparent_black;
@mobile_header_height: 44px;
@mobile_logo_offset: 20px;
@mobile_menu_font_size: 21px;


@footer_height: 145px;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'HeliosCond Light', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.orange {
  color: @orange;
}

.bold{
  font-family: 'HeliosCond Bold', sans-serif;
}

.light{
  font-family: 'HeliosCond Light', sans-serif;
}

.page-wrapper {
  position: relative;
  margin: 0  @body_border;
}

header {
  z-index: 2;
  margin: 0;
  position: fixed;
  top: 0;
  left: @body_border;
  right: @body_border;
  background: @menu_bg;
  border-top: white @header_whitespace solid;
  height: @header_height - @header_whitespace;
  .logo {
    float: left;
    height: @logo_img_height;
    margin-top: -(@logo_img_height + @header_whitespace - @header_height);
    margin-left: @logo_left_offset;
    a {
      display: block;
      height: @logo_img_height;
      width: @logo_img_width;
    }
  }
  ul#menu {
    float: right;
    height: 100%;
    margin: 0 (52px - 16px) 0 0;
    padding: 0;
    display: block;
    list-style: none;
    li {
      float: left;
      height: 100%;
      line-height: @header_height - @header_whitespace + 2px;
      a {
        text-transform: uppercase;
        padding: 0 14px;
        color: @white;
        text-decoration: none;
        position: relative;
        &:hover {
          color: @orange;
        }
        &:after {
          content: "";
          background: @white;
          position: absolute;
          bottom: 3px;
          top: 3px;
          left: 0;
          width: 2px;
        }
      }
      &:first-child a:after {
        display: none;
      }
    }
  }
}

.slicknav_menu {
  display: none;
}

.parallax.screen {
  width: 100%;
  height: calc(~"100vh" - @header_height);
  background-position: center;
  background-repeat: no-repeat;
  .background-size(cover);
  background-attachment: fixed;
  border-top: 4px @orange solid;
  overflow: hidden;
  .box-sizing(border-box);
  position: relative;
  &#main {
    height: 100vh;
    background-image: url('../img/bg_road.png');
    .parallax-element {
      display: block;
      position: absolute;
      &.sign{
        height: 100%;
        top: 40%;
        left: 8%;
        z-index: 2;
      }
      &.tireman {
        height: 85%;
        bottom: 0%;
        left:18%;
        z-index: 1;
      }
      &.arrow{
        right:50%;
      }
      &.where-to-buy{
        background: @transparent_black;
        width: 490px;
        height: 360px;
        top: 20%;
        right: 4%;
        padding: 1em;
        text-shadow: 0px 3px 10px @transparent_black;
        color: @white;
        h1, h2{
          margin:0;
          .orange;
          font-family: 'HeliosCond Bold', sans-serif;
          font-size:1.9em;
        }
        ol {
          list-style: none;
          margin: 20px 0 0 0;
          padding: 0;
          li {
            clear:both;
            font-size: 1.4em;
            .text {
              display:block;
            }
            &:first-child .text{
              padding-top:5px;
            }
            &:nth-child(2) .text{
              padding-top:25px;
            }
            .number {
              float:left;
              font-size: 1.7em;
              font-family: 'HeliosCond Bold', sans-serif;
              padding: 10px 10px 10px 0;
            }
            img {
              float:right;
            }
          }
        }
        .note {
          clear:both;
          font-size: 0.6em;
          font-family: 'HeliosCond Light', sans-serif;
          font-weight: normal;
          padding-top: 20px;
        }
        .buy_button {
          display: block;
          position: absolute;
          right: 1em;
          bottom: 1em;
          color: @orange;
          border: 3px solid @orange;
          padding: 7px 10px;
          text-decoration: none;
          .light;
          font-size: 1em;
          text-transform: uppercase;

        }
      }
    }
  }
  &#service_centers{
    background-image: url('../img/bg_tire.png');
    display: table;
    .row-wrapper {
      display: table-row;
      width:100%;
      height:100%;
      .cell-wrapper {
        display: table-cell;
        vertical-align: middle;
        .white-line {
          display: inline-block;
          background-image: url('../img/bg_kremlin.png');
          background-repeat: no-repeat;
          .background-size(cover);
          width: 100%;
          height: 429px;
        }
      }
    }
  }
  &#map{
    position: relative;
    height:100vh;
    #ymap{
      position:absolute;
      width:100%;
      height:100%;
      display: block;
    }
  }
  &#contacts{
    background-image: url('../img/bg_tire_bottom.png');
    height: @footer_height;
    background-attachment: scroll;
    border-bottom: none;
    margin-bottom: @body_border;
  }
  &.slogan{

  }
}


footer {
  color: white;
  text-align: center;
  font-size:25px;
  .phone-str {
    padding-top: 31px;
    .phone {
      margin:0 10px;
    }
  }
  .mail{
    padding-top: 20px;
    a {
      text-decoration: none;
      color: @white;
    }
  }
  .copyright{
    padding-top: 20px;
    font-size: 15px;
  }
}

.desktop-only{
  display: block;
}

.mobile-only {
  display: none !important;
}

@media screen and (max-width: 875px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block;
  }

  .page-wrapper {
    margin: 0;
  }

  header {
    display: none;
  }

  .slicknav_menu {
    display: block;
    background: @menu_bg;
    position: fixed;
    width: 100%;
    height: @mobile_header_height;
    padding: 0;
    z-index: 999;
    .logo {
      float: left;
      margin-left: @mobile_logo_offset;
      height: @mobile_header_height;
      img {
        height: @mobile_header_height;
      }
    }
    .slicknav_nav {
      background: @menu_bg;
      a {
        text-align: center;
        font-size: @mobile_menu_font_size;
        &:hover {
          .border-radius(none);
          background: none;
          color: @white;
        }
      }
    }
    .slicknav_btn {
      height: @mobile_header_height;
      margin: 0 20px;
      padding: 0;
      background: none;
      .slicknav_icon {
        padding-top: 12px;
        .slicknav_icon-bar {
          height: 2px;
          width: 20px;
          & + .slicknav_icon-bar {
            margin-top: 5px;
          }
        }

      }
    }
  }
}
.balloon{
  width: 271px;
  height:178px;
  background-color: @transparent_black;
  color:@white;
  font-weight: 900;
  h1, h2{
    margin:0;
    .orange;
    font-family: 'HeliosCond Bold', sans-serif;
    font-size:32px;
    text-align: center;
  }
  p{
    font-size: 20px;
    text-align: center;
    font-family: 'HeliosCond Light', sans-serif;
    margin-top: 10px;
  }
  a{
    font-size: 20px;
    text-align: center;
    font-family: 'HeliosCond Light', sans-serif;
  }
}


.balloon-close{
  position: relative;
  left:246px;
  top: 5px;
}
.popover-content{
  margin-right: -36px;
}
.popover-inner{
  margin-top: -10px;
}



