@import '../bower/lesshat/build/lesshat';
@import (inline, css) '../bower/normalize-css/normalize.css';
@import (inline, css) '../bower/slicknav/slicknav.css';

@white: #FFFFFF;
@orange: #FFAD13;
@black: #020202;
@transparent_black: rgba(0, 0, 0, .75);

@body_border: 19px;

@header_height: 88px;
@header_whitespace: @body_border;
@logo_img_width: 160px;
@logo_img_height: 97px;
@logo_left_offset: 97px;
@menu_bg: @transparent_black;
@mobile_header_height: 44px;
@mobile_logo_offset: 20px;
@mobile_menu_font_size: 21px;


@footer_height: 165px;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'HeliosCond Light', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.orange {
  color: @orange;
}

.bold{
  font-family: 'HeliosCond Bold', sans-serif;
}

.light{
  font-family: 'HeliosCond Light', sans-serif;
}

.page-wrapper {
  position: relative;
  margin: 0  @body_border;
}

header {
  z-index: 999;
  margin: 0;
  position: fixed;
  top: 0;
  left: @body_border;
  right: @body_border;
  background: @menu_bg;
  border-top: white @header_whitespace solid;
  height: @header_height - @header_whitespace;
  .logo {
    float: left;
    height: @logo_img_height;
    margin-top: -(@logo_img_height + @header_whitespace - @header_height);
    margin-left: @logo_left_offset;
    a {
      display: block;
      height: @logo_img_height;
      width: @logo_img_width;
    }
  }
  ul#menu {
    float: right;
    height: 100%;
    margin: 0 (52px - 16px) 0 0;
    padding: 0;
    display: block;
    list-style: none;
    li {
      float: left;
      height: 100%;
      line-height: @header_height - @header_whitespace + 2px;
      a {
        text-transform: uppercase;
        padding: 0 14px;
        color: @white;
        text-decoration: none;
        position: relative;
        &:hover {
          color: @orange;

          //font-family: "HeliosCond Bold", sans-serif;
          //font-size: 22px;
        }
        &:active{
          font-family: "HeliosCond Bold", sans-serif;

        }
        .selected{
          color: @orange;
          font-family: "HeliosCond Bold", sans-serif;
        }
        &:after {
          content: "";
          background: @white;
          position: absolute;
          bottom: 3px;
          top: 3px;
          left: 0;
          width: 2px;
        }
      }
      &:first-child a:after {
        display: none;
      }
    }
  }
}

.slicknav_menu {
  display: none;
}

.parallax.screen {
  width: 100%;
  height: calc(~"100vh" - @header_height);
  background-position: center;
  background-repeat: no-repeat;
  .background-size(cover);
  background-attachment: fixed;
  border-top: 4px @orange solid;
  overflow: hidden;
  .box-sizing(border-box);
  position: relative;
  &#main {
    height: 100vh;
    background-image: url('../img/bg_road.png');
    .parallax-element {
      display: block;
      position: absolute;
      &.sign{
        height: 85%;
        max-height: 70vw;
        bottom: -15%;
        left: 3%;
        z-index: 2;
      }
      &.tireman {
        height: 85%;
        max-height: 70vw;
        bottom: 0%;
        left:9%;
        z-index: 1;
      }
      &.arrow{
        right:50%;
      }
      &.where-to-buy{
        background: @transparent_black;
        width: 490px;
        height: 360px;
        top: 20%;
        right: 4%;
        padding: 1em;
        text-shadow: 0px 3px 10px @transparent_black;
        color: @white;
        h1, h2{
          margin:0;
          .orange;
          font-family: 'HeliosCond Bold', sans-serif;
          font-size:1.6em;
          text-transform: uppercase;
        }
        ol {
          list-style: none;
          margin: 20px 0 0 0;
          padding: 0;
          font-family: "HeliosCond Bold",sans-serif;
          li {
            clear:both;
            font-size: 1.4em;
            .text {
              display:block;
            }
            &:first-child .text{
              padding-top:5px;
            }
            &:nth-child(2) .text{
              padding-top:25px;
            }
            .number {
              float:left;
              font-size: 1.7em;
              font-family: 'HeliosCond Bold', sans-serif;
              padding: 10px 10px 10px 0;
            }
            img {
              float:right;
              height: 60px;
              margin-top: -50px;
            }
          }
        }
        .note {
          clear:both;
          font-size: 0.75em;
          font-family: 'HeliosCond Light', sans-serif;
          font-weight: normal;
          padding-top: 20px;
          a{
            text-decoration: none;
            font-family: "HeliosCond Bold",sans-serif;
          }
        }
        .buy_button {
          display: block;
          position: absolute;
          right: 1em;
          bottom: 1em;
          color: @orange;
          border: 3px solid @orange;
          padding: 7px 10px;
          text-decoration: none;
          font-weight: 900;

          .bold;
          font-size: 1em;
          text-transform: uppercase;
          &:hover{
            color: @black;
            background-color:@orange;
            .transition(all .2s)
          }
        }
      }
    }
  }
  &#service_centers{
    background-image: url('../img/bg_tire.png');
    display: table;
    .row-wrapper {
      display: table-row;
      width:100%;
      height:100%;
      .cell-wrapper {
        display: table-cell;
        vertical-align: middle;
        .white-line {
          /*display: inline-block;*/
         /* background-image: url('../img/bg_kremlin.png');*/
          background-repeat: no-repeat;
          .background-size(cover);
          width: 100%;
          height: 429px;
          position: relative;
          div{
            position: absolute;
          }
          .service-list {
            height: 100%;
            right: 0;
            width: 40%;
            h1 {
              text-align: center;
              font-family: "HeliosCond Bold", sans-serif;
              margin-top: 75px;
              margin-bottom: 0px;
              font-size: 1.5em;

              margin-left: -80px;
            }
            h2 {
              text-align: center;
              margin-top: 0px;
              margin-bottom: 10px;
              font-size: 1em;

              margin-left: -80px;
            }
            a {
              display: block;
              text-align: center;
              color: @orange;
              font-family: "HeliosCond Bold", sans-serif;
              font-size: 0.9em;
              height: 19px;
              font-weight: bold;
              margin-left: -80px;
            }
            ul {
              list-style-type: none;
              width: 100%;
              text-align: center;
              margin-top: 10px;
              margin-left: -80px;
              li {
                padding-bottom: 15px;
                font-family: "HeliosCond", sans-serif;
                font-weight: 100;
                font-size: 1em;
                .phone{
                  font-family: "HeliosCond Bold", sans-serif;
                }

              }
            }
          }
          .city-selector{
            height: 100%;
            width: 40%;
            .city{
              top: 50%;
              left: 50%;
              position: absolute;
              margin-top: -90px;
              margin-left: -130px;
              list-style-type: none;
              li{
                padding: 0px 10px 34px 10px;
                font-family: 'HeliosCond Bold', sans-serif;
                font-size:1.6em;
                cursor: pointer;
                text-decoration: none;
                color: black;


              }
              li.selected{
                color: @orange;
                background: url('../img/wheel_selector.png') no-repeat 0px 3px;
                padding-left: 50px;
                margin-left: -40px;


              }
            }
          }
          .service-logo{
            height: 100%;
            left: 40%;
            width: 20%;
            img{
              left: 50%;
              top: 50%;
              position: absolute;
            }
          }
        }
      }
    }
  }
  &#map{
    position: relative;
    height:100vh;
    #ymap{
      position:absolute;
      width:100%;
      height:100%;
      display: block;
    }
  }
  &#contacts{
    background-image: url('../img/bg_tire_bottom.png');
    height: @footer_height;
    background-attachment: scroll;
    border-bottom: none;
    margin-bottom: @body_border;
  }
  &.slogan{

  }
}


footer {
  color: white;
  text-align: center;
  font-size:25px;
  .phone-str {
    padding-top: 31px;
    .phone {
      margin:0 10px;
      font-family: "HeliosCond Bold",sans-serif;;
    }
  }
  .mail{
    padding-top: 20px;
    a {
      text-decoration: none;
      color: @white;
    }
  }
  .copyright{
    padding-top: 20px;
    font-size: 15px;
  }
}

.desktop-only{
  display: block;
}

.mobile-only {
  display: none;
}

//////////////////////////////////ballons maps
.balloon{
  width: 271px;
  height:178px;
  background-color: @transparent_black;
  color:@white;
  font-weight: 900;
  h1, h2{
    margin: 0 0 0 -10px;
    .orange;
    font-family: 'HeliosCond Bold', sans-serif;
    font-size:32px;
    text-align: center;
  }
  p{
    font-size: 20px;
    text-align: center;
    font-family: 'HeliosCond Light', sans-serif;
    margin-top: 10px;
    margin-right: 0;
    margin-left: -15px;
    margin-bottom: 0;

  }
  a{
    font-size: 20px;
    text-align: center;
    font-family: 'HeliosCond Light', sans-serif;
  }
}

.balloon-close{
  position: relative;
  left:246px;
  top: 5px;
}
.popover-content{
  margin-right: -36px;
}
.popover-inner{
  margin-top: -10px;
}
///////////////////////////////////////////

#moscow.white-line {
  background-image: url('../img/bg_kremlin.png');
  .service-logo img{
    margin-left: -78px;
    margin-top: -26px;
  }

}
#piter.white-line {
  background-image: url('../img/bg_piter.png');
  display: none;
  .service-logo img{
    margin-left: -100px;
    margin-top: -21px;
    width: 180px;
  }
}
#kazan.white-line {
  background-image: url('../img/bg_kazan.png');
  display: none;
  .service-logo img{
    margin-left: -78px;
    margin-top: -34px;
  }
}




//////////rules
#rules.page-wrapper{
  margin-bottom: 19px;
  background-color: @black;
  header{
    display: block;
  }
.rules-screan {
  background-repeat: no-repeat;
  background-image: url('../img/tires.png');
  background-position: 10% 80%;
  display: table;
  width: 100%;
  padding-bottom: 100px;
  .row-wrapper {
    display: table-row;
    width: 100%;
    height: 100%;


    .cell-wrapper{
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 100px;
      text-align: center;
      h1{
        //margin-top: 40px;
        color: @orange;
        font-family: "HeliosCond Bold", sans-serif;
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
      }
      p{
        color: @white;
        font-family: "HeliosCond",sans-serif;
        font-size:20px;
        font-weight: 100;
      }
    }

  }

}
  footer{
    color: white;
    text-align: center;
    padding-bottom: 19px;
    font-family: "HeliosCond Light",sans-serif;
    font-size: 16px;
  }
}

@media (max-width: 1500px){
  #main.parallax.screen .parallax-element{
    &.tireman {
      height: 73%;
    }
    &.sign {
      height: 73%;
    }
    &.where-to-buy {
      width: 400px;
      height: 300px;
      font-size: 16px;
      ol li img {
        height: 56px;
      }
    }
  }
  #service_centers{
    font-size: 18px;
  }
}

.smallest-buy {
  #main.parallax.screen .parallax-element.where-to-buy {
    width: 285px;
    height: 222px;
    font-size: 0.76em;
    padding: 0.7em;
    h1 {
      font-size: 1.2em;
    }
    ol {
      margin: 10px 0 0 0;
      li {
        font-size: 1em;
        &:nth-child(2) .text {
          padding-top: 19px;
        }
        img {
          height: 40px;
          margin-top: -40px;
        }
      }
    }
    .note {
      font-size: 0.6em;
      padding-top: 10px;
    }
    .buy_button {
      right: 0.7em;
      bottom: 0.7em;
      border: 2px solid @orange;
      padding: 5px 7px;
      font-size: 0.9em;
    }
  }
  #service_centers {
    font-size: 14px;
  }
}

@media (max-width: 1250px) {
  .smallest-buy();
}

//
//
// MOBILE DESIGN
//
//


.mobile {
  .parallax.screen {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 875px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block;
  }

  .page-wrapper {
    margin: 0;
  }

  header {
    display: none;
  }

  .slicknav_menu {
    display: block;
    background: @menu_bg;
    position: fixed;
    width: 100%;
    height: @mobile_header_height;
    padding: 0;
    z-index: 999;
    .logo {
      float: left;
      margin-left: @mobile_logo_offset;
      height: @mobile_header_height;
      img {
        height: @mobile_header_height;
      }
    }
    .slicknav_nav {
      background: @menu_bg;
      a {
        text-align: center;
        font-size: @mobile_menu_font_size;
        &:hover {
          .border-radius(none);
          background: none;
          color: @white;
        }
      }
    }
    .slicknav_btn {
      height: @mobile_header_height;
      margin: 0 20px;
      padding: 0;
      background: none;
      .slicknav_icon {
        padding-top: 12px;
        .slicknav_icon-bar {
          height: 2px;
          width: 20px;
          & + .slicknav_icon-bar {
            margin-top: 5px;
          }
        }

      }
    }
  }
  
  .parallax.screen {
    background-attachment: scroll;
    border-top: 3px @orange solid;
    &#main {
      .parallax-element {
        &.sign{
          height: auto;
          max-height: 100%;
          max-width: 30%;
          bottom: auto;
          top: 55%;
          left: 1%;
          z-index: 2;
        }
        &.tireman {
          max-height: 83%;
          max-width: 90%;
          height: auto;
          bottom: 0;
          left: auto;
          right: -2%;
          z-index: 1;
        }
        &.arrow{
          right:50%;
          bottom: 10px;
        }
        &.where-to-buy{
          display: none;
        }
      }
    }
    &#service_centers{
      background-image: url('../img/bg_tire.png');
      font-size: 20px;
      height: calc(~"100vh" - @mobile_header_height);
      @media (max-width: 425px){
        font-size: 18px;
      }
      @media (max-width: 385px){
        font-size: 16px;
      }
      @media (max-width: 340px){
        font-size: 14px;
      }
      @media (max-width: 340px){
        font-size: 12px;
      }
      .row-wrapper {
        .cell-wrapper {
          .white-line {
            height: 90%;
            text-align: center;
            position: relative;
            div {
              position:relative;
            }
            .city-selector{
              position: relative;
              height: auto;
              width: 100%;
              margin: 0;
              padding: 0;
              .city{
                list-style-type: none;
                margin: 0;
                padding: 1.5em 0 0 0;
                width: 100%;
                height: auto;
                position:relative;
                top: auto;
                left: auto;
                li{
                  font-size: 1.5em;
                  margin: 0;
                  padding: 0 0 0.3em 0;
                  &.selected{
                    background: none;
                    padding: 0 0 0.3em 0;
                    margin: 0;
                  }
                }
              }
            }
            .service-logo{
              display: inline-block;
              height: auto;
              left: auto;
              width: auto;
              padding: 3em 0 2em;
              img{
                display: inline-block;
                left: auto;
                top: auto;
                position: relative;
                margin: 0;
                padding: 0;
                max-width: 90%;
              }
            }
            .service-list {
              display: inline-block;
              height: auto;
              right: auto;
              width: 100%;
              margin: 0;
              padding: 0;
              h1 {
                font-size: 1.2em;
                margin: 0;
              }
              h2 {
                font-size: 1em;
                margin: 0;
                margin-bottom: 1em;
              }
              a {
                display: block;
                font-size: 0.9em;
                height: 1em;
                margin: 0;
              }
              ul {
                margin: 1em 0;
                padding: 0;
                width: 100%;
                //.box-sizing(border-box);
                li {
                  padding: 0.5em 1em;
                  font-size: 0.9em;
                }
              }
            }
          }
        }
      }
    }
    &#map{
      position: relative;
      height:100vh;
      #ymap{
        position:absolute;
        width:100%;
        height:100%;
        display: block;
      }
    }
    &#contacts{
//      height: @footer_height/2;
//      font-size: 20px;
//      margin-bottom: 0;
    }
    &.slogan{
      height: calc(~"100vh" - @mobile_header_height);
      background: @black;
      text-align: center;
      font-size: 20px;
      @media (max-height: 600px){
        font-size: 18px;
      }
      @media (max-height: 500px){
        font-size: 15px;
      }
      @media (max-height: 450px){
        font-size: 12px;
      }
      @media (max-height: 450px){
        font-size: 10px;
      }
      @media (max-width: 300px) {
        font-size: 12px;
      }
      h1 {
        color: @orange;
        font-size: 1em;
        text-transform: uppercase;
        .bold;
        margin: 0;
        padding: 0 0 0.2em 0;
        &:first-child {
          margin-top: 1em;
        }
      }
      ol {
        margin: 20px 0 0 0;
        padding: 0;
        width:100%;
        color: @white;
        list-style: none;
        li {
          margin-bottom: 0.5em;
          position: relative;
          .number {
            display: block;
            border: 2px solid @orange;
            font-size: 1.3em;
            width: 1.6em;
            height: 1.6em;
            line-height: 1.6em;
            .border-radius(1.6em);
            clear: both;
            margin: 0.75em auto;
          }
          .text{
            font-size: 1em;
          }
          img {
            display: block;
            clear: both;
            margin: 0.5em auto 1em;
            height: 2.5em;
          }
        }
      }
      .note {
        color: @white;
        font-size: 0.5em;
      }
      .buy_button {
        display: inline-block;
        position: relative;
        bottom: -2em;
        margin: 0 auto;
        color: @orange;
        border: 3px solid @orange;
        padding: 0.35em 0.5em;
        text-decoration: none;
        .light;
        font-size: 1em;
        text-transform: uppercase;
        &:hover{
          color: @black;
          background-color:@orange;
          .transition(all .2s)
        }
      }
    }
  }

  ////rulespage
  #rules.page-wrapper{
    margin: 0  @body_border;
    header {
      display: block;
    }
  }
}
