doctype html
html(lang="en")
    head
        title Continental
        link(rel="stylesheet" href="font/fonts.css")
        link(rel="stylesheet" href="css/app.css")
        meta(charset="UTF-8")
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
        script(src="https://api-maps.yandex.ru/2.1-dev/?lang=ru_RU" type="text/javascript")
    body
        .page-wrapper
            header
                .logo
                    a(href="#main")
                        img(src="img/logo.png")
                ul#menu
                    li: a(href="#main")= 'Главная'
                    li: a(href="#service_centers")= 'Сервисные центры'
                    li: a(href="rules.html")= 'Правила'
                    li: a(href="#contacts")= 'Контакты'
            #main.parallax.screen.screen-1.promo()
                img(src="img/road_sign.png").sign.parallax-element
                img(src="img/men_and_tire.png").tireman.parallax-element
            //#slogan.parallax.screen.screen-2.slogan
                H1 Безопастность - наш приоритет
                H1 Хранение - на подарок
                ol
                    li При покупке комплекта шин
                        span.orange Continental
                        | 17 диаметра и выше
                        img(src="img/wheel.png")
                    li Сезонное хранение в подарок
                        span.orange *
                        img(src="img/wheel.png")
                .note
                    | Срок проведения акции: с 15 марта по 17 мая 2015г. Количество подарков ограничено.
                    br
                    | Детали акции, полный список моделей шин, участвующих в акции,
                    | и дополнительную информацию можно найти на сайте:&nbsp;
                    a.orange(href="http://www.contipromo.ru" target="_blank") www.contipromo.ru
                a(href="#map") Где купить?
            #service_centers.parallax.screen.screen-3.map-selector
                .row-wrapper
                    .cell-wrapper
                        .white-line
                            .city-selector
                                ul.city
                                    li Москва
                                    li Санкт-Петербург
                                    li Казань
                            .service-logo
                                img(src="img/autoexpert.png")
                            .service-list
                                H1 Автоэксперт
                                H2.city-name Москва
                                span.links
                                    a(href="http://www.autoexpert.ru" target="_blank") www.autoexpert.ru
                                    br
                                    a(href="http://www.shinaexpert.ru" target="_blank") www.shinaexpert.ru
                                ul.service-list
                                    li Адрес,
                                        span.phone телефон
                                    li Адрес,
                                        span.phone телефон
                                    li Адрес,
                                        span.phone телефон
            #map.parallax.screen.screen-4.map
            footer.parallax.screen#contacts
                .phone-str Телефон горячей линии&nbsp;
                    span.orange.phone +7(985)750-02-50
                    | &nbsp;- работает с 10 до 19.
                .mail: a(href="mailto:mail@contipromo.ru") mail@contipromo.ru
                .copyright © Continental AG 2015
        script(src="js/app.js")