doctype html
html(lang="en")
    head
        title Continental
        link(rel="stylesheet" href="font/fonts.css")
        link(rel="stylesheet" href="css/app.css")
        meta(charset="UTF-8")
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
        script(src="https://api-maps.yandex.ru/2.1-dev/?lang=ru_RU" type="text/javascript")
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-55238150-1', 'auto');
            ga('send', 'pageview');
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-55238150-1']);
        script.
            setTimeout(function() {_gaq.push(["_trackEvent","visit","10 sec"])}, 10000);
            var kavanga={};
                kavanga.cl=209;
                kavanga.protocol=('https:' == document.location.protocol ? 'https://' : 'http://');
                kavanga.domain="l.kavanga.ru";
                kavanga.s = document.createElement('script'); kavanga.s.type = 'text/javascript'; kavanga.s.async = true;
                kavanga.rand_version = Math.floor((Math.random()*100)+1);
                kavanga.s.src = kavanga.protocol + kavanga.domain +'/js/leads_'+kavanga.cl+'.js?v='+kavanga.rand_version;
                kavanga.s0 = document.getElementsByTagName('script')[0]; kavanga.s0.parentNode.insertBefore(kavanga.s, kavanga.s0);
                function kCall(){

                switch (getCityNumber()){
                    case 0:
                    ga('send', 'event',  'Купить', 'Автоэксперт');
                    break;
                    case 1:
                    ga('send', 'event',  'Купить', 'Эксклюзив');
                    break;
                    case 2:
                    ga('send', 'event',  'Купить', 'Вершина');
                    break;
                }

                window._ktIsLead = 1;
                kavanga.ready();
                }

body
        .page-wrapper
            header
                .logo
                    a(href="#main")
                        img(src="img/logo.png")
                ul#menu
                    li: a(onclick="ga('send', 'event',  'Главная', 'Меню');" href="#main")= 'Главная'
                    li: a(onclick="ga('send', 'event',  'Сервисные центры', 'Меню');" href="#service_centers")= 'Сервисные центры'
                    li: a(onclick="ga('send', 'event',  'Правила', 'Меню');" href="rules.html" target="_blank")= 'Правила'
                    li: a(onclick="ga('send', 'event',  'Контакты', 'Меню');" href="#contacts")= 'Контакты'
            #main.parallax.screen.screen-1.promo
                img(src="img/road_sign.png").sign.parallax-element
                img(src="img/men_and_tire.png").tireman.parallax-element
                img(src="img/arrow.png").arrow.to_next.parallax-element
                div.where-to-buy.parallax-element.desktop-only
                    include view/where_to_buy
            #slogan.parallax.screen.screen-2.slogan.mobile-only
                include view/where_to_buy
            #service_centers.parallax.screen.screen-3.map-selector
                .row-wrapper
                    .cell-wrapper
                        #moscow.white-line
                            .city-selector
                                ul.city
                                    li МОСКВА
                                    li САНКТ-ПЕТЕРБУРГ
                                    li КАЗАНЬ
                            .service-logo
                                img(src="img/autoexpert.png")
                            .service-list
                                H1 Автоэксперт
                                H2.city-name Москва
                                a(href="http://www.autoexpert.ru" target="_blank") www.autoexpert.ru
                                a(href="http://www.shinaexpert.ru" target="_blank") www.shinaexpert.ru
                                ul.service-list
                                    li Дорожный пр-д, д.1, к.2
                                        span.orange.phone  +7 (495) 648-60-28
                                    li Олсуфьевский пер., д.7, с.2
                                        span.orange.phone  +7 (495) 648-60-28
                                    li Ул. Краснодарская, д.72, к.1
                                        span.orange.phone  +7 (495) 648-60-28
                                    li Ул. Куликовская, вл.10, стр.1
                                        span.orange.phone  +7 (495) 648-60-28
                                    li Ул. Березовая алеея, 2а
                                        span.orange.phone  +7 (495) 648-60-28
                        #piter.white-line
                            .city-selector
                                ul.city
                                    li МОСКВА
                                    li САНКТ-ПЕТЕРБУРГ
                                    li КАЗАНЬ
                            .service-logo
                                img(src="img/exclusive.png")
                            .service-list
                                H1 Эксклюзив
                                H2.city-name Санкт-Петербург
                                a(href="http://www.tyres.spb.ru" target="_blank") www.tyres.spb.ru
                                ul.service-list
                                    li Пр-т Большевиков, д. 42
                                        span.orange.phone  +7 (812) 441 21 28
                                    li Сердобольская ул., д. 3
                                        span.orange.phone  +7 (812) 492 02 13
                                    li Ул. Оптиков, д. 15
                                        span.orange.phone  +7 (812) 320 18 85
                        #kazan.white-line
                            .city-selector
                                ul.city
                                    li МОСКВА
                                    li САНКТ-ПЕТЕРБУРГ
                                    li КАЗАНЬ
                            .service-logo
                                img(src="img/vertire.png")
                            .service-list
                                H1 Вершина
                                H2.city-name Казань
                                a(href="http://www.vershina-kazan.ru" target="_blank") www.vershina-kazan.ru
                                ul.service-list
                                    li Горьковское ш., 47/1
                                        span.orange.phone  +7 (843) 290 10 40
                                    li Пр-т Ямашева, д.61
                                        span.orange.phone  +7 (843) 517 53 75
                                    li Пр-т Ямашева, д.92 Б
                                        span.orange.phone  +7 (843) 521-77-33
                img(src="img/arrow.png").arrow.to_map
            #map.parallax.screen.screen-4
                #ymap
            footer.parallax.screen#contacts
                .phone-str Телефон горячей линии&nbsp;
                    nobr.orange.phone +7(985)750-02-50
                    |&nbsp;- работает с&nbsp;10&nbsp;до&nbsp;19.
                .mail: a(href="mailto:mail@contipromo.ru") mail@contipromo.ru
                .copyright © Continental AG 2015
        include view/popup
        script(src="js/app.js")