//
   Created by Danila on 06.03.2015.
doctype html
html(lang="en")
   head
      title Continental
      link(rel="stylesheet" href="font/fonts.css")
      link(rel="stylesheet" href="css/app.css")
      meta(charset="UTF-8")
      meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
   body
      .page-wrapper
         header
            .logo
               a(href="#main")
                  img(src="img/logo.png")

